# ========================
# Python
# ========================
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
dist/
venv/
.env/
.venv/

# ========================
# Compiled / Model files
# ========================
*.pyc
*.pkl
*.h5
*.onnx
*.pth
*.weights

# ========================
# Models directory
# ========================
models/
files/models

# ========================
# OS / Editor
# ========================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
*~

# ========================
# ROS 2 / Colcon
# ========================
**/build/
**/install/
**/log/
**/*.log
.colcon/
.colcon_install_layout
**/ament_cmake_core/
**/ament_index/
latest_build
latest
*.bag
*.db3

# ========================
# Gazebo
# ========================
.gazebo/

# ========================
# Keep source code (but not pycache or model weights inside)
# ========================
!files/ros/src/
!files/ros/src/**
files/ros/src/**/__pycache__/
files/ros/src/**/*.pth
files/ros/src/**/*.onnx
files/ros/src/**/*.weights


### ========================
BFMC-MachCore
vehicle_sim
VROOM-BFMC-Simulator